h1 {
	color: #48807F; 
}

h2 {
	color: #031FF7;
}

ul {
  background: #3399ff;
  padding: 5px;
  width: 40%;
}


ul li {
  background: #cce5ff;
  margin: 5px;
    padding: 5px;
}

body{
	background: #2EC1BD;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}